body {
    background-color: lightblue;
}

.contenedor {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    body{
        background-color: lightcoral;
    }
}
